/* Add any Course specific CSS here */
.purple-bk-popup2 {
    width: 100%;
    height: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: #6C1F5D;
    z-index: 99999;
}
.purple-bk-popup2 .popup-inner {
  margin:0 auto;
}
.purple-bk-popup2 .popup-inner p {
  color:black !important;
}
.popup-transition {
 -webkit-transition: all .3s ease;
 transition: all .3s ease;
 opacity:1;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
}
/* .popup-enter defines the starting state for entering */
/* .popup-leave defines the ending state for leaving */
.popup-enter, .popup-leave {
 opacity: 0;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#courseFormWrapperDiv5 textarea {
  padding: 15px !important;
  font-size: 13px !important;
  border: 0px !important;
  height: 100px;
  background: transparent;
  height: 80px;
  overflow-y: scroll !important; }

#courseFormWrapperDiv5 input{
  font-size: 13px !important;
  border: 0px !important;
  background: transparent;
  overflow-y: scroll !important; }
/*Animation page parts*/
.pageSixLine {
    background-size: 100% 100%;
}

.pageSix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.pageSix .pSixBlob {
    white-space: normal;
    min-height: 60px;
    padding: 1em !important;
}

.pageSix .pageSixLine {
    -webkit-transform: rotateZ(270deg);
            transform: rotateZ(270deg);
    background-image: url(/images/course-assets/progressBar/progress.svg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    width: 0px;
    height: 10px;
    background-repeat: no-repeat;
    background-color: transparent !important;
    position: absolute;
    bottom: 20px;
    right: 60px;
    cursor: default;
}

.pageSix .pageSixLine.showing {
    width: 50px;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
}
p.orange-blob-box.pSixBlob {
    display: flex;
    justify-content: center;
    align-items: center;
}
.transparent {
  opacity:0 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}


/* 2 Buttons*/
.two-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.two-buttons button, .two-buttons a {
    max-width: 200px;
    padding: 1em;
    margin-left: 10px;
    margin-right: 10px;
}
/*3 buttons*/
.three-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom:13px;
}

.three-buttons button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

/*other buttons*/
.sep-button {
  max-width:300px;
  margin:0 auto;
  margin-top:1em;
}
.sep-button a {
  padding:1em !important;
}
.jba-btn, .jba-btn-submit2, .jba-btn2 {
   background-size: 100% 100%!important;
   -webkit-transition: -webkit-transform 0.15s!important;
   transition: -webkit-transform 0.15s!important;
   transition: transform 0.15s!important;
   transition: transform 0.15s, -webkit-transform 0.15s!important;
}
.jba-btn-submit2 {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    cursor:pointer;
}
.buttonWrapNew {
  margin-top:10%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.buttonWrapNew a {
  padding:1em !important;
}
/*vertical slider*/

#jba-horizontal-slider {
  background-size: 100% 100%;
}

#jba-horizontal-slider2{
  background-size: 100% 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  background:none;
}

#jba-horizontal-slider .ui-state-default, #jba-horizontal-slider .ui-widget-content .ui-state-default, #jba-horizontal-slider .ui-widget-header .ui-state-default {
  margin-top:0;
  margin-bottom: :0;
}
.orange-arrow-flip {
  transform: translateY(-8px) rotate(-90deg);
  height: 20px;
  width: auto;
  position: absolute; }

.orange-arrow-flip-left {
  left: 27px; }

.orange-arrow-flip-right {
  right: 27px; }

  .slider-answers p.orange-blob-box {
      padding-left: 10px !important;
      padding-right: 10px !important;
      display: flex;
       align-items: center;
       justify-content: center;
       height:55px;
  }

  .slider-answers {
      display: flex;
      align-items: center;
  }
  form.jba-checkbox p {
      height: 70px;
  }
/*flipswitch*/
.flip-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 40px;
}

.flip-title-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;

  }
  .flip-row .flip-child {
    width:80%;
  }
  .switch {
    float:right;
  }

  /*textareas*/
  .textarea-small {
    height:60px;
  }

  /*sortable*/
.sortable-goals {
  display:flex;
  justify-content:center;
  min-height:300px;
  max-width: 500px;
}
.sortable, .numbers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.numbers img {
  height:40px;
  width:auto;
}
.numbers, #sortable li {
  margin-bottom:13px;
  height:30%;
  display: flex;
  align-items: center;
}
#sortable li {
  display: flex;
  align-items: center;
}
#sortable {
    width: 80%;
}

.no-transition {
  -webkit-transition: none !important;
  transition:none !important;
}

.my-draggable{
     display: inline-block;
     padding: 6px 12px;
     margin-bottom: 0;
     font-size: 14px;
     font-weight: 400;
     line-height: 1.42857143;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     -ms-touch-action: manipulation;
     touch-action: manipulation;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     background: url(/images/course-assets/buttons/rectangle-button.svg);
     background-repeat: no-repeat;
     color: white;
     transition: none;
     border-width: 0px;
     padding: 10px 16px;
     font-size: 16px;
     line-height: 1.3333333;
     margin:0!important;
     z-index:9999;
     width: 73px;
     height: 33px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.focus-dropzone-row{
 display:flex;
 justify-content:center;
}

.focus-dropzone-row .focus-dropzone-container{
 display:flex;
 flex-direction:column;
 margin:0.2em;
 width:25%;
 height:150px;

}

.focus-text {
 display:flex;
 align-items:center;
 justify-content:center;
 padding:0.5em;
}

.focus-text p {
 margin:auto;
 text-align:center;
}

.drop-zone-parent{
 height:65%;
 padding:0 .5em;
 display:flex;
 flex-direction:column;
 align-items:center;
 justify-content:space-around;
}

.drop-zone{
  width:100%;
  height:100%;
 border-radius:10px;
}


#dropzone1 {
 background:#ea9036 ;
}

#dropzone2{
 background:#c51762 ;
}

#dropzone3{
 background:#34a345 ;
}
#dropzone4 {
 background:#c9d01f ;
}

.focus-drag-item{
 display:flex;
 justify-content: center;
 width: 30%;
 flex-direction: column;
word-wrap: break-word;
}
.focus-drag-container {
    display: flex;
    justify-content: space-around;
}

.focs-drag-item p{
 display:inline-block;
 transition:none!important;
}
/*click numbers*/
.number-click {
    display: flex;
    justify-content: space-between;
}

.numbers-button {
    width: 15%;
    height: auto;
}
.inputrenew .beige-blob-box, .cursor {
  cursor:pointer;
}
/*Media queries*/
@media screen and  (max-width:500px) {
  .slider-answers p.orange-blob-box {
    height:65px;
  }
  .jba-btn-submit2 {
      padding: 10px 10px;
      font-size: 12px;
      margin-top: 5px;
      line-height: 1.5;
  }
  .textarea-small {
    height:30px;
  }
  .focus-dropzone-row .focus-dropzone-container {
    width:48%;
  }
  .focus-dropzone-row{
   flex-wrap:wrap;
  }

}
@media screen and  (max-width:1200px) {
  #form-checks p input[type="checkbox"]:not(:checked) + label:after,   #form-checks p input[type="checkbox"]:checked + label:after {
    top: -5px;
    left: 7px;
    height:20px ;
    width:20px ;
  }
  #form-checks p input[type="checkbox"]:not(:checked) + label:before,  #form-checks p input[type="checkbox"]:checked + label:before {
    top: 10px;
    width: 20px ;
    height: 20px ;
  }
  form.jba-checkbox p {
    padding: 0.8em !important;
  }
  form.jba-checkbox p {
    height: auto;
  }
}
