<div class="container-fluid h100">
            <div class="row header-row pop-in">
                <div class="col-md-12 col-xs-8 col-xs-offset-2 col-md-offset-0">
                    <div class="new-main-content ">
                        <h2>The put off - spot it</h2>
                        <!-- Change Header -->
                    </div>
                </div>
            </div>
            <div class="row content-row pop-in">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3  col-sm-12">
                    <div class="squiggle-container">
                        <div class="top-squiggle"><img src="https://joybusinessacademy.github.io/img/squiggle/white-top.svg" alt=""></div>
                        <div class="squiggle-content white-squiggle">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="squiggle-container flex-center">
                                        <!-- put all of your content into the squiggle content div -->
                                            <div class="flip-title-row">
                                              <p>Yes/No</p>
                                            </div>
                                            <div class="flip-row">
                                              <div class="flip-child">
                                                  <p>I reckon it's better to do important jobs when I'm inspired.</p>
                                              </div>
                                              <div class="switch-float ">
                                                  <label class="switch">
                                                      <input id="q6" v-model="toggles.q6" v-on:change="saveInputData(toggles.q6)" type="checkbox">
                                                      <div class="slider round"></div>
                                                  </label>
                                              </div>
                                            </div>


                                            <div class="flip-row">
                                              <div class="flip-child">
                                                    <p>I have to rush to get tasks done on time.</p>
                                                </div>
                                                <div class="switch-float ">
                                                    <label class="switch">
                                                        <input id="q7" v-model="toggles.q7" v-on:change="saveInputData(toggles.q7)" type="checkbox">
                                                        <div class="slider round"></div>
                                                    </label>
                                                </div>
                                              </div>


                                              <div class="flip-row">
                                                <div class="flip-child">
                                                    <p>I hardly ever do all the things I planned to do in a day.</p>
                                                </div>
                                                <div class="switch-float">
                                                    <label class="switch">
                                                        <input id="q8" v-model="toggles.q8" v-on:change="saveInputData(toggles.q8)" type="checkbox">
                                                        <div class="slider round"></div>
                                                    </label>
                                                </div>
                                              </div>


                                              <div class="flip-row">
                                                <div class="flip-child">
                                                    <p>I usually start a task just before it's due.</p>
                                                </div>
                                                <div class="switch-float ">
                                                    <label class="switch">
                                                        <input id="q9" v-model="toggles.q9" v-on:change="saveInputData(toggles.q9)" type="checkbox">
                                                        <div class="slider round"></div>
                                                    </label>
                                                </div>
                                              </div>


                                              <div class="flip-row">
                                                <div class="flip-child">
                                                    <p>When deadlines are looming, I often waste time doing other stuff.</p>
                                                </div>
                                                <div class="switch-float">
                                                    <label class="switch">
                                                        <input id="q10" v-model="toggles.q10" v-on:change="saveInputData(toggles.q10)" type="checkbox">
                                                        <div class="slider round"></div>
                                                    </label>
                                                </div>
                                              </div>

                                        <!-- End Content -->
                                        <p class="blue-text text-center">Choose the options that describe you best.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bot-squiggle"><img src="https://joybusinessacademy.github.io/img/squiggle/white-bottom.svg" alt=""></div>
                    </div>
                </div>
            </div>
            <!-- end  content -->
            <!-- =========================== -->
            <!-- footer start -->
            <div class="row progressWrap">
                <div class="col-sm-12 col-pad0">
                    <!-- S:Progress Bar -->
                    <div class="progress-row">
                        <div class="hand-arrow">
                            <div class="percentageTxt hidden">
                                <p>60%</p>
                            </div>
                            <img class="percentageArrow hidden" src="https://joybusinessacademy.github.io/img/progressBar/hand_arrow.png" alt="" />
                        </div>
                        <div class="container progressContainer">
                            <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-flex-center">
                                   <a href="#027" class="course-button prev-button"></a>
                                </div>
                                <!-- leftArrow -->
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 align safari-only2">
                                    <div class="course-progress-bar-wrap">
                                        <div class="courseProgressBar">
                                            <p class="fixed hidden">60%</p>
                                            <div class="percentageProgress"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-flex-center safari-only">
                                  <a href="#029" class="jba-btn jba-btn-submit">Submit</a>
                                </div>

                                <!-- rightArrow -->
                            </div>
                        </div>
                    </div>
                    <!-- E:Progress Bar -->
                </div>
            </div>
