<div class="container-fluid h100">
    <div class="row header-row  ">
        <div class="col-md-12 col-xs-8 col-xs-offset-2 pop-in col-md-offset-0">
            <div class="new-main-content">
                <h2>Prioritisation (Simple)</h2>
                <!-- Change Header -->
            </div>
        </div>
    </div>
    <div class="row content-row  pop-in">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-pad0  col-xs-12">
          <!-- put all of your content into here div -->
          <div class="squiggle-container pop-in">
              <div class="top-squiggle"><img src="/images/course-assets/squiggle/white-top.svg" alt=""></div>
              <!-- put all of your content into the squiggle content div -->
              <div class="squiggle-content white-squiggle">
                  <div class="row">
                      <div class="col-md-12">
                        <p>Make a list of the 3 key things you have coming up on the horizon - go for a mix of personal and professional.</p>
                        <div class="squiggle-container one-line-bot">
                              <div class="top-squiggle top-squiggle-change-1"><img src="/images/course-assets/forms/lightTop.svg" alt=""></div>
                              <div class="squiggle-content textbox-colour-select-1 light-beige-textbox">
                                  <div class="squiggle-container">
                                      <!-- put all of your content into here div -->
                                      <div id="courseFormWrapperDiv1" class="course-form-padding courseFormWrapDiv textarea-mobile textarea-small">
                                          <textarea id="textarea" v-on:keyup="checkContent" @contextmenu="checkContent" v-on:change="saveInputField(inputfield1)" v-model="inputfield1" placeholder="Enter text here..." class="form-control form-control-1 course-input-field-black"></textarea>
                                      </div>
                                      <!-- End Content -->
                                  </div>
                              </div>
                              <div class="bot-squiggle bot-squiggle-change-1"><img src="/images/course-assets/forms/lightBott.svg" alt=""></div>
                          </div>
                          <div class="squiggle-container one-line-bot">
                                <div class="top-squiggle top-squiggle-change-1"><img src="/images/course-assets/forms/lightTop.svg" alt=""></div>
                                <div class="squiggle-content textbox-colour-select-1 light-beige-textbox">
                                    <div class="squiggle-container">
                                        <!-- put all of your content into here div -->
                                        <div id="courseFormWrapperDiv2" class="course-form-padding courseFormWrapDiv textarea-mobile textarea-small">
                                            <textarea id="textarea2" v-on:keyup="checkContent" @contextmenu="checkContent" v-on:change="saveInputField(inputfield2)" v-model="inputfield2" placeholder="Enter text here..." class="form-control form-control-1 course-input-field-black"></textarea>
                                        </div>
                                        <!-- End Content -->
                                    </div>
                                </div>
                                <div class="bot-squiggle bot-squiggle-change-1"><img src="/images/course-assets/forms/lightBott.svg" alt=""></div>
                            </div>
                            <div class="squiggle-container one-line-bot">
                                  <div class="top-squiggle top-squiggle-change-1"><img src="/images/course-assets/forms/lightTop.svg" alt=""></div>
                                  <div class="squiggle-content textbox-colour-select-1 light-beige-textbox">
                                      <div class="squiggle-container">
                                          <!-- put all of your content into here div -->
                                          <div id="courseFormWrapperDiv3" class="course-form-padding courseFormWrapDiv textarea-mobile textarea-small">
                                              <textarea id="textarea3" v-on:keyup="checkContent" @contextmenu="checkContent" v-on:change="saveInputField(inputfield3)" v-model="inputfield3" placeholder="Enter text here..." class="form-control form-control-1 course-input-field-black"></textarea>
                                          </div>
                                          <!-- End Content -->
                                      </div>
                                  </div>
                                  <div class="bot-squiggle bot-squiggle-change-1"><img src="/images/course-assets/forms/lightBott.svg" alt=""></div>
                              </div>
                          <p class="blue-text">Answer the question to get you thinking about your own experience of the communication process.</p>
                      </div>
                  </div>
              </div>
              <div class="bot-squiggle"><img src="/images/course-assets/squiggle/white-bottom.svg" alt=""></div>
          </div>
      </div>
  </div>
    <!-- end  content -->
    <!-- =========================== -->
    <!-- footer start -->
    <div class="row progressWrap">
        <div class="col-xs-12 col-pad0">
            <!-- S:Progress Bar -->
            <div class="progress-row">
                <div class="hand-arrow">
                    <div class="percentageTxt hidden">
                        <p>60%</p>
                    </div>
                    <img class="percentageArrow hidden" src="../img/progressBar/hand_arrow.png" alt="" />
                </div>
                <div class="container progressContainer">
                    <div class="row">
                      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-flex-center">
                          <a href="#040" class="course-button prev-button"></a>
                      </div>
                        <!-- leftArrow -->
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 align safari-only2">
                            <div class="course-progress-bar-wrap">
                                <div class="courseProgressBar">
                                    <p class="fixed hidden">60%</p>
                                    <div class="percentageProgress"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-flex-center safari-only">
                          <a href="#042" class="jba-btn-submit jba-btn" v-bind:class="{'jba-btn-locked': content == false}">Submit</a>
                          <i class="arrowLock fa fa-lock" v-show="content == false" aria-hidden="true"></i>
                        </div>
                        <!-- rightArrow -->
                    </div>
                </div>
            </div>
            <!-- E:Progress Bar -->
        </div>
    </div>
</div>
