<div class="popup" v-show="popup == true" transition="popup">
    <div class="popup-inner">
        <div class="squiggle-container">
            <div class="top-squiggle"><img src="/images/course-assets/squiggle/orange-top.svg" alt=""></div>
            <!-- put all of your content into the squiggle content div -->
            <div class="squiggle-content orange-squiggle">
                <div class="row">
                    <div class="col-md-12">
                        <div v-if="stepOnePop">
                          <p>Pick the goal, e.g. to make the tastiest cuppa possible in 5 minutes!</p>
                        </div>
                        <div v-if="stepTwoPop">
                          <p>Identify the milestone you need to complete just before achieving the goal, e.g. add milk.</p>
                        </div>
                        <div v-if="stepThreePop">
                          <p>Take another step back, e.g. wait 3 minutes for the tea to brew, then use a spoon to get the bag out.</p>
                        </div>
                        <div v-if="stepFourPop">
                          <p>Take another step back, e.g. use the kettle to fill the cup about 4/5ths.</p>
                        </div>
                        <div v-if="stepFivePop">
                          <p>Continue to work back until you reach the first milestone (Good work - have a cuppa to celebrate!)</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="bot-squiggle"><img src="/images/course-assets/squiggle/orange-bottom.svg" alt=""></div>
        </div>
        <div class="course-button close-button popup-close-test" @click="popup = false">
            <i class="fa fa-times close-button-cross" aria-hidden="true"></i> </div>
    </div>
</div>
<div class="container-fluid h100">
    <div class="row header-row  ">
        <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 pop-in">
            <div class="new-main-content">
                <h2>Working backwards</h2>
                <!-- Change Header -->
            </div>
        </div>
    </div>
    <div class="row content-row flexy-parent pop-in">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-pad0  col-xs-12">
          <!-- put all of your content into here div -->
          <div class="squiggle-container pop-in">
              <div class="top-squiggle"><img src="/images/course-assets/squiggle/white-top.svg" alt=""></div>
              <!-- put all of your content into the squiggle content div -->
              <div class="squiggle-content white-squiggle">
                  <div class="row ">
                      <div class="col-md-12">
                        <p>Here's how you do it...touch each step for more.</p>
                      </div>
                  </div>
              </div>
              <div class="bot-squiggle"><img src="/images/course-assets/squiggle/white-bottom.svg" alt=""></div>
          </div>
      </div>
      <div class="flexy-image-svg flexy-image-mob-fix pop-in col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-pad0  col-xs-12 two-line two-line-bot">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 931.45 272.99">
            <defs>
                <style>
                .cls-1 {
                    fill: #74cee2;
                }

                .cls-2 {
                    font-size: 21.39px;
                    fill: #fff;
                    font-family: Cutive-Regular, Cutive;
                }

                .cls-3 {
                    fill: #b7e0f8;
                }
                </style>
            </defs>
            <title>timeManagementSteps</title>
            <g id="step1" @click="stepOne">
                <rect class="cls-1" x="5.89" y="213.91" width="184" height="52" />
                <text class="cls-2" transform="translate(64.89 250.55)">Step 1</text>
            </g>
            <g id="step2" @click="stepTwo">
                <rect class="cls-3" x="189.89" y="161.91" width="184" height="52" />
                <text class="cls-2" transform="translate(248.89 198.55)">Step 2</text>
            </g>
            <g id="step3" @click="stepThree">
                <rect class="cls-1" x="373.89" y="109.91" width="184" height="52" />
                <text class="cls-2" transform="translate(432.89 146.55)">Step 3</text>
            </g>
            <g id="step4" @click="stepFour">
                <rect class="cls-3" x="557.89" y="57.91" width="184" height="52" />
                <text class="cls-2" transform="translate(616.89 94.55)">Step 4</text>
            </g>
            <g id="step5" @click="stepFive">
                <rect class="cls-1" x="741.89" y="5.91" width="184" height="52" />
                <text class="cls-2" transform="translate(800.89 42.55)">Step 5</text>
            </g>
        </svg>

      </div>
  </div>
    <!-- end  content -->
    <!-- =========================== -->
    <!-- footer start -->
    <div class="row progressWrap">
        <div class="col-xs-12 col-pad0">
            <!-- S:Progress Bar -->
            <div class="progress-row">
                <div class="hand-arrow">
                    <div class="percentageTxt hidden">
                        <p>60%</p>
                    </div>
                    <img class="percentageArrow hidden" src="../img/progressBar/hand_arrow.png" alt="" />
                </div>
                <div class="container progressContainer">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-flex-center">
                          <a href="#072" class="course-button prev-button"></a>
                        </div>
                        <!-- leftArrow -->
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 align">
                            <div class="course-progress-bar-wrap">
                                <div class="courseProgressBar">
                                    <p class="fixed hidden">60%</p>
                                    <div class="percentageProgress"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-flex-center">
                            <a href="#074" class="course-button next-button"></a>
                        </div>
                        <!-- rightArrow -->
                    </div>
                </div>
            </div>
            <!-- E:Progress Bar -->
        </div>
    </div>
</div>
